@import "reset";
@import "font-awesome";

@mixin clear-fix() {
	*zoom: 1;

	&:before,
	&:after
	{
		content: ' ';
		display: table;
	}

	&:after
	{
		clear: both;
	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin gradient-background($start, $stop) {
	background: $start;
	background: -moz-linear-gradient(left, $start 0%, $stop 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, $start), color-stop(100%, $stop));
	background: -webkit-linear-gradient(left, $start 0%, $stop 100%);
	background: -o-linear-gradient(left, $start 0%, $stop 100%);
	background: -ms-linear-gradient(left, $start 0%, $stop 100%);
	background: linear-gradient(to right, $start 0%, $stop 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=1);
}

@mixin clearfix()
{
	*zoom: 1;

	&:before,
	&:after
	{
		content: " ";
		display: table;
	}

	&:after
	{
		clear: both;
	}
}

@mixin avatar($size)
{
	width: $size;
	height: $size;

	box-shadow: 0 0 0 5px #fff, 0em 0.25em 0.5em #ddd;

	float: left;
	display: block;
	vertical-align: middle;

	@include border-radius($size);
}

$link-colour: #4A6075;
$bio-image-size: 100px;
$project-name-width: 300px;
$project-image-size: 100px;
$project-image-margin: 35px;
$stack-width: $project-name-width;
$page-width-min: $project-name-width + $stack-width + $project-image-size + 2 * $project-image-margin + 30;

html
{
	min-height: 100%;

	background: #f2f2f2 url("../images/background-light.png");

	font-size: 14px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
}

body
{
	text-align: center;
}

a
{
	color: $link-colour;
	text-decoration: none;

	&:hover
	{
		text-decoration: none;
	}
}

.container
{
	width: 100%;
	margin: 0 auto;
}

.title
{
	margin: 0;
	padding: 31px 0 36px;

	border-bottom: 1px solid #fff;
	background: #202020 url('../images/background-dark.png');

	color: #666;
	font-size: 34px;
	font-weight: 300;
	text-shadow: 1px 1px 0 #000;
}

.section-title
{
	width: 170px;
	margin: 20px 0 30px;

	color: #999;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
}

.bio
{
	@include clearfix();

	color: #666;
	text-align: left;

	.bio-image
	{
		@include avatar($bio-image-size);

		margin: 0 30px 30px 35px;
	}

	.bio-social
	{
		margin: 0 10px 0 0;
		padding: 10px;

		font-size: 36px;
		text-shadow: 1px 1px 0 #fff;

		display: inline-block;

		position: relative;
		top: -10px;
	}

	.bio-text
	{
		margin: 0;
		padding: 5px 40px;

		font-size: 16px;
	}
}

.social
{
	padding: 0 20px 0 0;

	float: left;
	display: block;

	.social-link
	{
		margin: 0 10px 9px 0;
		padding: 3px 12px 3px 5px;

		font-size: 14px;
		text-shadow: 1px 1px 0 rgba(255,255,255,0.5);

		border: 1px solid #ccc;
		border-radius: 4px;
		background: -moz-linear-gradient(top, rgba(204,204,204,0.2) 0%, rgba(204,204,204,0.6) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,0.2)), color-stop(100%,rgba(204,204,204,0.6)));
		background: -webkit-linear-gradient(top, rgba(204,204,204,0.2) 0%,rgba(204,204,204,0.6) 100%);
		background: -o-linear-gradient(top, rgba(204,204,204,0.2) 0%,rgba(204,204,204,0.6) 100%);
		background: -ms-linear-gradient(top, rgba(204,204,204,0.2) 0%,rgba(204,204,204,0.6) 100%);
		background: linear-gradient(to bottom, rgba(204,204,204,0.2) 0%,rgba(204,204,204,0.6) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cccccc', endColorstr='#99cccccc',GradientType=0 );

		display: block;

		&:hover
		{
			color: $link-colour;
		}

		.fa
		{
			margin: 0 3px;
		}
	}
}

.projects
{
	@include clearfix();
	
	border-top: 1px solid #ccc;
}

.project-list
{
	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.project
{
	margin: 0;
	padding: 0 0 40px;

	list-style: none;

	text-align: left;

	.project-link
	{
		@include clearfix();

		display: block;

		&:hover
		{
			.project-name
			{
				color: $link-colour;
			}

			.project-image
			{
				box-shadow: 0 0 0 5px #fff, 0em 0.25em 1em $link-colour;
			}
		}
	}

	.project-name
	{
		margin: 10px 5px 0 0;

		color: #333;
		font-size: 24px;
		text-shadow: 0 1px 0 #fff;

		display: inline-block;
	}

	.project-role
	{
		margin: 10px 0 0;

		color: #666;
		font-size: 24px;
		font-weight: normal;
		text-align: left;
		text-shadow: 0 1px 0 #fff;

		display: inline-block;
	}

	.project-image
	{
		@include avatar($project-image-size);

		margin: 0 $project-image-margin;
	}
}

.stack
{
	padding: 13px 0;

	color: #666;
	font-size: 110%;
	text-align: left;

	display: block;
	vertical-align: middle;

	.stack-item
	{
		margin: 0 10px 0 0;

		white-space: nowrap;

		.fa
		{
			margin: 0 5px 0 0;

			color:  #999;
		}
	}
}

.progress
{
	width: 10px;
	height: 100px;
	margin: 0 1em 0 2.25em;

	background: #ddd;

	overflow: hidden;

	position: relative;

	float: left;

	@include border-radius(10px);

	.progress-complete
	{
		width: 100%;
		height: 0;

		background: #addd6d;

		position: absolute;
		bottom: 0;

		@include border-radius(10px);

		&.progress-complete-half
		{
			height: 55%;
		}

		&.progress-complete-full
		{
			height: 100%;
		}
	}
}

@media all and (min-width: $page-width-min)
{
	.container
	{
		width: $page-width-min;
		max-width: $page-width-min;
	}
}

@media all and (max-width: 600px)
{
	.section-title
	{
		width: auto;

		text-align: left;
	}

	.bio
	{
		padding: 0 35px;

		.bio-image
		{
			margin: 0 0 15px;

			float: none;
		}

		.social-link
		{
			display: inline-block;
		}
	}

	.projects
	{
		padding: 0 35px;

		.project-image
		{
			margin: 0 0 15px;

			float: none;
		}
	}
}